.square {
	 border-radius: 5px;
  height: 750px;
  width: 1250px;
  background-color: #555;

}
.square1 {
 border-radius: 5px;
  height: 80px;
  width: 80px;
  background-color:#000080;

}
.square2{
	 border-radius: 5px;
  height:250px;
  width: 400px;
  background-color: orange;
}


.margin1
{
	margin-top:70px;
}


.corners1 {
  border-radius: 5px;
  background:#FFDAB9;
  padding: 20px; 
  width: 400px;
  height: 250px;  
  margin-left:110px;

}
.corners2 {
  border-radius: 5px;
  background: #87CEFA;
  padding: 20px; 
  width: 400px;
  height: 250px;  
  margin-left:110px;
 float:right;
	
}
.direction{
	 display: flex;
  flex-direction:row;
}
